@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: white;
}

p {
  color: black;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-container {
  background: #f55a5a;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar-container h2 {
  margin-left: 1rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin-left: 8rem;
}

.card-location-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-location-header > * {
  margin-right: 0.5rem;
}

.card-location-header p {
  font-weight: bolder;
}

.card-location-header a {
  color: #333;
  text-decoration: none;
}

.card-location-header a:hover {
  text-decoration: underline;
  color: #666;
}

.image-container {
  margin-right: 2rem;
}

.image-container img {
  width: 125px;
  height: 168px;
  flex-shrink: 0;
  border-radius: 5px;
}
